@model WebApplication1.Models.User

@{
    ViewData["Title"] = "Delete";
}


<div class="container">
    <h1 class="text-center mt-5">Delete User</h1>
    <div class="row mt-4">
        <div class="col"></div>
        <div class="col">

            <dl class="row d-flex justify-content-center">

                <dt class="col-6">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-6">
                    Date Of Birth
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>
                <dt class="col-6">
                    Phone Number
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>
                <dt class="col-6">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt class="col-6">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-6">
                    @Html.DisplayFor(model => model.Email)
                </dd>
            </dl>
            <form asp-action="Delete" class="d-flex justify-content-center">
                <input type="submit" value="DELETE" class="btn btn-danger spacing text-center" />
            </form>
        </div>
        <div class="col"></div>
    </div>

    
</div>
