@model IEnumerable<WebApplication1.Models.User>

@{
    ViewData["Title"] = "Users";
}


<div class="container mt-5">


    <p>
        <a class="btn btn-success spacing" asp-action="Create"> <strong>CREATE A USER</strong> </a>
    </p>
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th> Sr No </th>
                    <th> Name </th>
                    <th> Date Of Birth </th>
                    <th> Phone Number </th>
                    <th> City </th>
                    <th> Email </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int idx = 1;
                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <center>@idx</center>
                            @{
                                idx++;
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateOfBirth)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm spacing">@Html.ActionLink("Edit", "Edit", new { id =
                                                                                  item.UserId }, new { @class="editdelete" })</button>
                            <button class="btn btn-danger btn-sm spacing">@Html.ActionLink("Delete", "Delete", new { id =
                                                                                 item.UserId }, new { @class="editdelete" })</button>
                        </td>
                    </tr>
                }



            </tbody>
        </table>
    }
    else
    {
        <p>No user</p>
    }
</div>